<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Software Testing/actitime_automation/src/test/java/TestNG">
        <classes>
            <class name="TestNG.FirstTestCase">
                <methods>
                    <include name="openApp"/>
                    <include name="login"/>
                    <include name="logout"/>
                </methods>
            </class>
            <class name="TestNG.OrangeHRMTest">
                <methods>
                    <include name="openApplication"/>
                    <include name="testLogo"/>
                    <include name="login"/>
                    <include name="logout"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>